* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #FBEFEF;
  color: #333;
  line-height: 1.6;
}

/* HEADER */

.header {
  background: #e84393;
  padding: 20px 0;
}

.header-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo-area img {
  width: 150px; /* BESAR LOGO */
  height: auto;
}

/* BRAND (NAMA USAHA) */
.brand h1 {
  color: white;
  margin-bottom: 5px;
}

.brand p {
  color: #ffe6f0;
  font-size: 16px;
}

/* NAVIGASI */
.nav-menu ul {
  list-style: none;
  display: flex;
}

.nav-menu ul li {
  margin-left: 20px;
}

.nav-menu ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-menu ul li a:hover {
  text-decoration: underline;
}

/* SECTION */
section {
  max-width: 1100px;
  margin: 30px auto;
  padding: 30px;
  background: FEEAC9;
  border-radius: 10px;
}

h2 {
  margin-bottom: 15px;
  color: #e84393;
}

/* PRODUK */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #F5AFAF;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.price {
  color: #e67e22;
  font-weight: bold;
  margin: 10px 0;
}

/* BUTTON */
button {
  background: #e84393;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #d63384;
}
/* ALAMAT */
#alamat {
  max-width: 1100px;
  margin: 30px auto;
  padding: 30px;
  background: ;
  border-radius: 10px;
}

/* FOOTER */
footer {
  background: #e84393;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
